body {
  display: flex;
  background-color: #fcfcfc;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #1e1e1e;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

h1{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 3vw;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 2vw;
}

h3{
  font-family: 'League Script', sans-serif;
  font-size: 5vw;
  margin: 0.3;
}

* {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 300;
    box-sizing: border-box;
}

.header {
  flex-basis: 10%;
}

.header ul {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  float:right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header li {
  padding-right: 50px;
  display: inline;
}

.header ul li a:hover {
  font-weight: 800;
  transition: 0.4s;
}

.body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  padding: 10px 10px 10px 10px;
}

.left {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
}

.left * {
  margin-top: -50px;
  align-self: center;
  align: left;
}

.right {
  margin-top: -50px;
  margin-left: 40px;
  padding: 10px 150px 10px 10px;
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
}

.right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right li {
  font-size: 2vw;
  float:right;
  padding-right: 20px;
  display: inline;
}

.right #mail:hover {
  color: #D44638;
  transition: 0.4s;
}

.right #git:hover {
  color: #6e5494;
  transition: 0.4s;
}

.right #linked:hover {
  color: #0077B5;
  transition: 0.4s;
}


.footer {
  flex-basis: 10%;
}

.layout {
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

.path {
  stroke-dasharray: 1610;
  stroke-dashoffset: 1610;
  animation: dash 2s linear forwards;
}

p {
	font-family: 'Quicksand', sans-serif;
  font-size: 1.5vw;
}

.text-scroll h2 {
  height: 25px;
  float: left;
  white-space: nowrap;
  position: relative;
  font-size: 2vw;
  margin-top: 22%;
}

.text-scroll {
  max-height: 50px;
  width: 300px;
  margin: 0 auto;
  float: left;
}

.scrolling-words {
  overflow: hidden;
  height: 54px;
  padding-left: 15px;
  margin-top: -32px;
}

.scrolling-words  h2 {
  margin: 0 0 30px;
  padding-top: 5px;
  white-space: nowrap;
  -webkit-animation: move 8s 1s infinite;
  -moz-animation: move 8s 1s infinite;
  -o-animation: move 8s 1s infinite;
  -ms-animation: move 8s 1s infinite;
  animation: move 8s 1s infinite;
  font-size: 2vw;
  letter-spacing: 1px;
}

@-moz-keyframes move {
  0%  { top:  0px;   }
  20% { top: -56px;  }
  40% { top: -110px; }
  60% { top: -167px; }
  80% { top: -0px; }
  100% { top: -0px;   }
}

@-o-keyframes move {
  0%  { top:  0px;   }
  20% { top: -56px;  }
  40% { top: -110px; }
  60% { top: -167px; }
  80% { top: -0px; }
  100% { top: -0px;   }
}

@-ms-keyframes move {
  0%  { top:  0px;   }
  20% { top: -56px;  }
  40% { top: -110px; }
  60% { top: -167px; }
  80% { top: -0px; }
  100% { top: -0px;   }
}

@-webkit-keyframes move {
  0%  { top:  0px;   }
  20% { top: -53px;  }
  40% { top: -109px; }
  60% { top: -164px; }
  80% { top: -0px;   }
  100% { top: -0px;  }
}

@keyframes move {
  0%  { top:  0px;   }
  20% { top: -56px;  }
  40% { top: -110px; }
  60% { top: -167px; }
  80% { top: -0px; }
  100% { top: -0px;   }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.caption {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  background-color: #8E7589;
  color: white;
  font-size: 1.5vw;
  padding: 16px 32px;
}

.menu-grid {
  display: grid;
  grid-template-columns: 25vw 25vw;
  grid-template-rows: 25vw 25vw;
  margin: auto;
  grid-gap: 1.2em;
}

.item {
  margin-top: 1em;
  display: flex;
  border: 1.2vw solid;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2vw;
  padding-right: 4vw;
  box-sizing: border-box;
}

#hci:hover {
  background-color: #F9D0D8;
}

#hci:hover .item-name {
  background-color: #F9D0D8;
  color: white;
}

#hci:hover .item-caption {
  background-color: #F9D0D8;
  color: white;
}

#viz:hover {
  background-color: #C0E6EF;
}

#viz:hover .item-name {
  background-color: #C0E6EF;
  color: white;
}

#viz:hover .item-caption {
  background-color: #C0E6EF;
  color: white;
}

#web:hover {
  background-color: #EDCCEC;
}

#web:hover .item-name {
  background-color: #EDCCEC;
  color: white;
}

#web:hover .item-caption {
  background-color: #EDCCEC;
  color: white;
}

#app:hover {
  background-color: #BDF7D3;
}

#app:hover .item-name {
  background-color: #BDF7D3;
  color: white;
}

#app:hover .item-caption {
  background-color: #BDF7D3;
  color: white;
}

.item-name {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  display: inline-block;
  color: #4C4C4C;
  font-size: 2.7vw;
  margin: auto;
  font-weight: 600;
}

.item-caption {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: #4C4C4C;
  font-size: 1.3vw;
  margin-bottom: 4vw;
}

/* Create three equal columns that floats next to each other */
.row .column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column ul {

  list-style-type: none;
  margin-top: 0px;
  margin-left: 40%;
  padding: 0;
}

.column li {
  font-size: 2vw;
  float:left;
  padding-right: 20px;
  display: inline;
}

.column #mail:hover {
  color: #D44638;
  transition: 0.4s;
}

.column #git:hover {
  color: #6e5494;
  transition: 0.4s;
}

.column #linked:hover {
  color: #0077B5;
  transition: 0.4s;
}

.column #pdf:hover {
  color: #8E7589;
  transition: 0.4s;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
